<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:color="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <!-- META DATA -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Free Bootstrap Themes by HTML5XCSS3 dot com - Free Responsive Html5 Templates">
    <meta name="author" content="#">

    <title>产品详情</title>
    <link rel="stylesheet" href="../static/global/css/bootstrap.min.css"  type="text/css">
    <link href="../static/global/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/global/css/style.css">
    <link rel="stylesheet" href="../static/global/css/buttons.css">
    <link rel="stylesheet" href="../static/global/font-awesome-4.4.0/css/font-awesome.min.css"  type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>
    <script src="../static/global/js/html5shiv.js"></script>
    <script src="../static/global/js/respond.min.js"></script>

</head>

<body class="sub-page">

<center>
<div  class="site-gradients">
    <div class="site-gradients-media">
        <figure>
            <img class="img-responsive center-block" src="../static/global/img/banner2.jpg"  width="90%" >
        </figure>
    </div>
</div>
</center>
<div id="page-content" class="single-page">
    <div class="container">
        <div class="row">
            <div id="main-content">
                <article>
                    <h1>Welcome friends to come here for a better future !</h1>
                    <div class="art-content"  id = "main-art">
                        <p th:text="'id: ' + ${key}" />
                    </div>
                </article>






        </div>
    </div>
    </div>
</div>
<a href="/wx/auth" class="button button-raised button-caution"> Buy</a>



<footer>
                <div class="col-md-4">
                    <p>Copyright 2018 - More Templates <a href="http://www.baidu.com/" target="_blank" title="产品之家">产品之家</a> - Collect from <a href="http://www.qq.com/" title="微信产品" target="_blank">微信产品</a></p>
                </div>

</footer>
</body>
</html>
